{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="es"></html>
<html> 
<head>
    <title>Nova</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/inicio.css">
</head>
<body>


    <header class="jumbotron">
        <div class="container text-center">
            <h1>Bienvenidos a Nova Soluciones Digitales</h1>
            <h5>Tu solución para reparación y accesorios de dispositivos electrónicos</h5>
        </div>
    </header>

    <section id="services" class="container mb-4 md-4">
        <h1 class="text-center mb-4">Nuestros Servicios</h1>
        <div class="row">
            <div class="col-md-4 mb-4 md-4 ">
                <div class="card">
                    <img src="/static/imagenes/inicio/accesorio celu.jpg" class="card-img-top img-fluid"  alt="Accesorios para Celulares">
                    <div class="card-body">
                        <h5 class="card-title">Accesorios</h5>
                        <p class="card-text">Ofrecemos servicios de reparación de teléfonos móviles.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 md-4 ">
                <div class="card">
                    <img src="/static/imagenes/inicio/accesorios-compu.jpg" class="card-img-top img-fluid"  alt="Accesorios para computadoras">
                    <div class="card-body">
                        <h5 class="card-title">Accesorios</h5>
                        <p class="card-text">Ofrecemos servicios de reparación de teléfonos móviles.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 md-4 ">
                <div class="card">
                    <img src="/static/imagenes/inicio/accesorios-gaming.webp" class="card-img-top img-fluid"  alt="Accesorios gaming">
                    <div class="card-body">
                        <h5 class="card-title">Accesorios</h5>
                        <p class="card-text">Ofrecemos servicios de reparación de teléfonos móviles.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 md-4 ">
                <div class="card">
                    <img src="/static/imagenes/inicio/celular.webp" class="card-img-top img-fluid"  alt="Reparación de Celulares">
                    <div class="card-body">
                        <h5 class="card-title">Reparación de Teléfonos</h5>
                        <p class="card-text">Ofrecemos servicios de reparación de teléfonos móviles.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 md-4">
              <div class="card">
                  <img src="/static/imagenes/inicio/camara.avif" class="card-img-top img-fluid"  alt="Reparación de Camaras">
                  <div class="card-body">
                      <h5 class="card-title">Reparación de Camaras</h5>
                      <p class="card-text">Ofrecemos servicios de reparación de Camaras.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4 mb-4 md-4">
              <div class="card">
                  <img src="/static/imagenes/inicio/pc.jpg" class="card-img-top img-fluid"  alt="Reparación de PC">
                  <div class="card-body">
                      <h5 class="card-title">Reparación de PC</h5>
                      <p class="card-text">Ofrecemos servicios de reparación de PC.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4 mb-4 md-4">
              <div class="card">
                  <img src="/static/imagenes/inicio/reflex.jpg" class="card-img-top img-fluid"  alt="Reparación de Reflex">
                  <div class="card-body">
                      <h5 class="card-title">Reparación de  Reflex</h5>
                      <p class="card-text">Ofrecemos servicios de reparación de  Reflex y lentes.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4 mb-4 md-4">
                <div class="card">
                    <img src="/static/imagenes/inicio/note.jpg" class="card-img-top img-fluid"  alt="Reparación de Notebooks">
                    <div class="card-body">
                        <h5 class="card-title">Reparación de Notebooks</h5>
                        <p class="card-text">Especializados en reparación de Notebooks.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 md-4"> 
                <div class="card">
                    <img src="/static/imagenes/inicio/consola.jpg" class="card-img-top img-fluid"  alt="Reparación de Consolas">
                    <div class="card-body">
                        <h5 class="card-title">Reparación de Consolas</h5>
                        <p class="card-text">Ofrecemos servicios de reparación de videoconsolas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="bg-light py-5">
        <div class="container text-center">
            <h2 class="mb-4">Contáctanos</h2>
            <p>Teléfono: 0291 509-5206</p>
            <p>IG:@novasolucionesdigitales</p>
            <p>Email:NovaSoluciones@speedy.com</p>
            <p>Dirección: 12 de Octubre 498, B8000 Bahía Blanca</p>
        </div>
    </section>

    <footer class="text-center py-3">
        <p>&copy; 2023 Nova Todos los derechos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

  
{% endblock %}
